$color-gray:#3f4954;
$color-midnight:#104f55;
$color-white:#ffffff;
$color-greyellow:#c7af6b;
$color-black:#0f0f0f;
$postsection-bgcolor:#bbbfca;
$bg-color: linear-gradient(to bottom left,lightslategrey 0%, white 80%);
$text-color: black;
$font: "Times New Roman", Times, serif;